{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}Video Manage{% endblock title%}

{% block content%}

<h1 class="book_title">Video Manage</h1>
<div class="book_table">
  <form method="post" action={{ url_for('add') }}>
    <table cellpadding="10" border='3'>
      <tr>
        <th>影片編號</th>
        <td>*系統自動生成*</td>
      </tr>
      <tr>
        <th>影片名稱</th>
        <td><input type="text" name="title" ></td>
      </tr>
      <tr>
        <th>上架日期</th>
        <td><input type="text" name="publish_time"></td>
      </tr>
    </table>
    <div class="btn_div">
      <button type="submit">新增影片</button> 
      <button><a href="{{ url_for('manager') }}">回上一頁</button> 
    </div>
  </form>
</div>

{% endblock content%}