{% extends "backstage.html" %}
{% block head %}
{{ super() }}
{% endblock head %}
{% block title %}後台資料分析{% endblock title%}
{% block content %}

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <!-- Dashboard -->
  <div id="dashboard">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">按讚數量分析</button>
      </div>
      <a href="{{ url_for('manager') }}" title="回影片管理"><img class="dash_manager" src="{{ url_for('static', filename='./image/shop.png') }}"></a>

      <a href="{{ url_for('logout') }}" title="登出"><img class="dash_logout" src="{{ url_for('static', filename='./image/logout.png') }}"></a>
      
    </nav>
  </div>
  <br/>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
      <center> 
        <div id="maina" class="container-fluid" style="width:1200px;height:500px"></div>
      </center>
    </div>
  </div>
</div>

<script>
  // 以長條圖與折線圖分析各月績效
  var chartDoma = document.getElementById('maina');
  var myCharta = echarts.init(chartDoma);
  var data = {{revenue|tojson}};
  var count = {{dataa|tojson}};
  var optiona = {
    title: {
      text: '各月影片績效分析'
    },
    tooltip: {},
    legend: {
      data: ['影片績效']
    },
    xAxis: {
      data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
    },
    yAxis: {},
    series: [{
      name: '銷售總額',
      type: 'bar',
      // symbol: 'circle',
      symbolSize: 16,
      data: data,
      markPoint: {
        data: [
          {type: 'max', name: '銷量最高月份'},
          {type: 'min', name: '銷量最低月份'}
        ]
      },
      label: {
        show: true,
        position: 'top',
        textStyle: {
          fontSize: 15
        }
      }
    }
    ],
    legend: {
      show: true
    },
  };

 
  function run() {
    myChartc.setOption({
      series: [
        {
          type: 'bar',
          data
        }
      ]
    });
  }

  setTimeout(function() {
    run();
  }, 0);
        
  setInterval(function() {
    update();
  }, 3000);

  optiona && myCharta.setOption(optiona);
  //optionb && myChartb.setOption(optionb);
  //optionc && myChartc.setOption(optionc);
      
</script>

{% endblock content %}