{% extends "base.html" %}
{% block head %}
{{ super() }}

{% endblock head %}

{% block title %}Video Manager{% endblock title%}

{% block content%}

<h1 class="book_title">Youtube Data Update</h1>
<div class="book_table">
  <form method="post" action={{ url_for('edit') }}>
    <table cellpadding="10" border='3'>
      <tr>
        <th>影片編號</th>
        <td><input type="text" value="{{ data.影片編號 }}" name="video_id" readonly class="id_input"></td>
      </tr>
      <tr>
        <th>影片標題</th>
        <td><input type="text" value="{{ data.影片標題 }}" name="title" ></td>
      </tr>
      <tr>
        <th>上架日期</th>
        <td><input type="text" value="{{ data.上架日期 }}" name="publish_time"></td>
      </tr>
    </table>
    <div class="btn_div">
      <button type="submit">確定修改</button> 
      <a href="{{ url_for('manager') }}"><button type="button">回上一頁</button></a>
    </div>
  </form>
</div>

{% endblock content%}