{% extends "base.html" %}
{% block head %}
{{ super() }}
{% endblock head %}

{% block title %}Video{% endblock title%}

{% block content%}
<div class="btn_div">
  <h1 class="video_title left">Youtube Anylysis</h1>
  <a href="{{ url_for('dashboard') }}"  title="資料分析"><img class="cart" src="{{ url_for('static', filename='./image/dashboard.png') }}"></a>
  <a href="{{ url_for('logout') }}"  title="登出"><img class="logout" src="{{ url_for('static', filename='./image/logout.png') }}"></a>
</div>
<div class="btn_div">
  <p class="welcome">歡迎 , 管理者：{{user}}</p>
</div>
{% with messages = get_flashed_messages() %}
{% if messages[0] == 'No permission' %}
  
<script language="javascript">

  alert('您沒有使用者的權限喔！');

</script>

{% endif %}
{% endwith %}

{% with messages = get_flashed_messages() %}
{% if messages[0] == 'faild' %}
  
<script language="javascript">

  alert('有使用者有使用到這筆資料，所以不能刪除');

</script>

{% endif %}
{% endwith %}

<div class="book_table">
  <form  method='post' action={{ url_for('manager') }} >
    <table cellpadding="10" border='3'>
      <tr>
        <th>影片編號</th>
        <th>影片標題</th>
        <th>上架日期</th>
        <th></th>
        <th></th>
      </tr>
      {% for video in video_data %}
      <tr>
        <td> {{ video.影片編號 }}</td>
        <td> {{ video.影片標題 }}</td>
        <td> {{ video.上架日期 }}</td>
        <td>
          <button type="submit" value="{{video.影片編號}}" name="edit">修改
          </button>
        </td>
        <td>
          <button type="submit" value="{{video.影片編號}}" name="delete" onclick="return (confirm('你確定要刪除 {{ video.影片標題 }} 嗎？'))">
            刪除
          </button>
        </td>
      </tr>
      {% endfor %}
    </table>
      <div class="book_table">
        <a href={{ url_for('add')}}><button value="new" name="new" type="button"> 上架新影片</button></a>
      </div>
    </form>

</div>
<script language="javascript">
  function have_product(){
    alert('此影片已有統計資料，無法刪除');
  }
</script>
{% endblock content%}